* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: aqua;
}

.gallery img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Tablet */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}